<div class="container">
  <!-- Filtro -->
  <div class="row">
  </div>

  <!-- Expedientes -->
  <div class="row row-full-width">
    <div class="col-md-12 row-full-width">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Nº Expediente</th>
            <th>Fecha Solicitud</th>
            <th>Solicitante</th>
            <th>Provincia</th>
            <th>Mineral</th>
            <th>Estado</th>
            <th>Fase</th>
            <th>T. Expediente</th>
            <th>T. Solicitud</th>
            <th>Acciones</th>   
         </thead>
        <tbody>
          <% for(var i in expedientes) { %>
          <tr>
            <td><%= expedientes[i].numeroExpediente %></td>
            <td><%= expedientes[i].fechaInicioExpediente %></td>
            <td><%= expedientes[i].nombreSolicitante %></td>
            <td><%= expedientes[i].provincia.nombre %></td>
            <td><%= expedientes[i].mineral.nombre %></td>
            <td><%= expedientes[i].estado.nombre %></td>
            <td><%= expedientes[i].fase.nombre %></td>
            <td><%= expedientes[i].tipoExpediente.nombre %></td>
            <td><%= expedientes[i].tipoSolicitud.nombre %></td>
            <td>
              <button class="btn btn-success btn-xs" data-title="Detalle" data-toggle="modal" data-target="#detalle" >
                <span class="fa fa-eye"></span>
              </button>
              <button class="btn btn-primary btn-xs" data-title="Ver en Maps" onclick="javascript:window.open('/cases/<%= expedientes[i].id %>/area','_blank');">
                <span class="fa fa-map-marker"></span>  
              </button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <!-- Una atrás -->
          <% if(page === 0){ %>
          <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <% }else{ %>
          <li><a href="/cases?page=<%= page-1 %>&size=<%= size %>&<%= query %>"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
          <% } %>

          <!-- Numero de páginas -->
          <% for(var i=(page-3); i<=(page+3); i++){ %>
          <% if(i === page){ %>
          <li class="active"><a href="#"><%= i %></a></li>
          <% }else if(i >= 0 && i > page ){ %>
          <li><a href="/cases?page=<%= i+1 %>&size=<%= size %>&<%= query %>"><%= i %></a></li>
          <% }else if(i >= 0 && i < page){ %>
          <li><a href="/cases?page=<%= i-1 %>&size=<%= size %>&<%= query %>"><%= i %></a></li>
          <% } %>
          <% } %>

          <!-- Una adelante -->
          <li><a href="/cases?page=<%= page+1 %>&size=<%= size %>&<%= query %>"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Detalle Expediente -->
<div class="modal fade" id="detalle" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
          <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
    </div> 
  </div>
</div>
    
    
<script>
  $(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip();
  });
</script>